In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler 
from sklearn.model_selection import train_test_split


data_frame = pd.read_csv("kc_house_data.csv")
print(data_frame.shape)
data_frame.head()
data_frame.info()

(21613, 21)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [15]:

X = data_frame[['sqft_living','sqft_lot']]
Y = data_frame[["price"]]

X.iloc(axis=1)

C:\Users\Yasin\AppData\Local\Temp\ipykernel_29864\973417531.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  X.append([1423,123])

       sqft_living  sqft_lot       0
0           1180.0    5650.0     NaN
1           2570.0    7242.0     NaN
2            770.0   10000.0     NaN
3           1960.0    5000.0     NaN
4           1680.0    8080.0     NaN
...            ...       ...     ...
21610       1020.0    1350.0     NaN
21611       1600.0    2388.0     NaN
21612       1020.0    1076.0     NaN
0              NaN       NaN  1423.0
1              NaN       NaN   123.0

[21615 rows x 3 columns]